<html ng-app="workshop" ng-strict-di>

<head>
  <title>Learning AngularJS</title>
  <link rel="icon" href="../favicon.ico">
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="/styles/samples.css" rel="stylesheet">

  <!-- AngularJS -->
  <script src="/bower_components/angular/angular.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sample</a>
      </div>
    </div>
  </nav>

  <div class="container">

    <!-- Our Code goes here -->
    <section ng-controller="workshopController as workshop" class="sample">

      <p>{{ ::workshop.test }}</p>
      <p class="lead">{{ ::workshop.uppercasedName }}</p>

      <input ng-model="query" class="form-control">
      <button ng-click="reverse=!reverse" class="btn btn-primary">Toggle Sort</button>

      <table class="table table-striped">
        <tr ng-repeat="attendee in workshop.attendees
                         | filter:query
                         | orderBy:attendee:reverse">
          <td>{{ attendee }}</td>
        </tr>
      </table>

      <input ng-model="workshop.name" class="form-control">

      <!-- E -->
      <ws-directive greeting="{{ workshop.test }}" name="workshop.name" shout="workshop.greet()">
        <small>written by Gregor</small>
      </ws-directive>

      <!-- A -->
      <!-- <div ws-directive
             greeting="{{ workshop.test }}"
             name="workshop.name"
             shout="workshop.greet()"></div> -->

      <hr>

      <ws-controller-directive
        date="workshop.date"></ws-controller-directive>
    </section>

  </div>


  <!-- Sample Scripts -->
  <script src="./samples/workshop.module.js" charset="utf-8"></script>
  <script src="./samples/workshop.controller.js" charset="utf-8"></script>
  <script src="./samples/workshop.attendee.filter.js" charset="utf-8"></script>
  <script src="./samples/workshop.factory.js" charset="utf-8"></script>
  <script src="./samples/workshop.service.js" charset="utf-8"></script>
  <script src="./samples/workshop.directive.js" charset="utf-8"></script>
  <script src="./samples/workshop.controller.directive.js" charset="utf-8"></script>
</body>

</html>
